{% extends "layout.html" %}

{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group row mb-2 mx-4"">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <div class="form-group col-xs-3">
            {{ form.select.label(class="form-control-label") }}
            {% if form.search.errors %}
                {{ form.search(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.search.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            <div>
                <p>{{ form.select(autocomplete="off", autofocus="on", class="form-control") }}</p>
            </div>
            <div>
                <p>{{ form.search(autocomplete="off", class="form-control", placeholder="Enter Search Query") }}</p>
            </div>
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group row col-xs-3 mx-4"">
        {{ form.submit(class="btn btn-sm btn-outline-dark") }}
    </div>
</form>
{% if qry %}
    <ol>
        {% for row in qry %}
            <li><a href="{{ url_for('main.book', isbn=row['isbn']) }}"><b>{{ row["title"] }}</b> by <em>{{ row["author"] }}</em></a></li>
        {% endfor %}
    </ol>
{% endif %}
{% endblock content %}