{% extends "layout.html" %}

{% block content %}
<div class="inside-content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group row mb-2 mx-4"">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group col-xs-3">
                {{ form.search.label(class="form-control-label") }}
                {% if form.search.errors %}
                    {{ form.search(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.search.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.select(autocomplete="off", autofocus="on", class="form-control") }}
                    {{ form.search(autocomplete="off", class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group row col-xs-3 mx-4"">
            {{ form.submit(class="btn btn-sm btn-outline-dark") }}
        </div>
    </form>
    {% if qry %}
        {% for row in qry %}
            <p>
                {{ row["isbn"] }}<br>
                {{ row["title"] }}<br>
                {{ row["author"] }}<br>
                {{ row["year"] }}
            </p>
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}