{% extends "layout.html" %}

{% block content %}
<div class="inside-content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group row mb-2 mx-4"">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group col-xs-3">
                {{ form.number.label(class="form-control-label") }}
                {% if form.number.errors %}
                    {{ form.number(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.number(autocomplete="off", autofocus="on", class="form-control") }}
                {% endif %}
                <br>
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(autocomplete="off", class="form-control") }}
                {% endif %}
                <br>
                {{ form.author.label(class="form-control-label") }}
                {% if form.author.errors %}
                    {{ form.author(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.author.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.author(autocomplete="off", class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group row col-xs-3 mx-4"">
            {{ form.submit(class="btn btn-sm btn-outline-dark") }}
        </div>
    </form>
    {% if book_id %}
        <p>
            This book's ID is {{ book_id }}.<br>
            This book's ISBN is {{ book_isbn }}.<br>
            This book's average rating is {{ book_average_rating }}.
        </p>
    {% endif %}
</div>
{% endblock content %}